*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background: radial-gradient(black, gray);
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

body.light {
	background: radial-gradient(yellow, black);
}

.container {
	display: flex;
	flex-direction: column;

	img {}

	button {
		margin-top: 2rem;
		padding: 0.6rem;
		border-radius: 30px;
		border: 0;
		box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.6);
		font-size: 1.6rem;
		font-weight: bold;
		cursor: pointer;
		transition: all 0.2s;
		outline: 0;

		&:active {
			box-shadow: none;
		}
	}

}